<!DOCTYPE html>
<html>
<head>
	<title>Sign Up For My Awesome News Letter!</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"> </script>
</head>
<body>
	<h1>Sign Up For My Awesome News Letter!</h1>
	<form method="POST" action="/foo">
		<input type="text" name="FirstName"/>
		<input type="text" name="LastName"/>
        <input type="text" name="Email"/>
        <input type="submit"/>
	</form>
</body>