<!DOCTYPE html>
<html>
<head>
	<title>Sign Up For My Awesome News Letter!</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"> </script>
</head>
<body>
	<h1>Thank you, @model.FirstName!</h1>
</body>